{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Фруктарин{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
<div id="header">
    <a href="/" class="logo">Фруктарин</a>
</div>
<div id="subheader">
    <div class="cart">
        {% with total_items=cart|length %}
            {% if cart|length > 0 %}
                Ваша корзина:
                <a href="{% url "cart:cart_detail" %}">
                    {{ total_items }}
<!--                    склонения для разного количества товаров-->
                    {% if total_items == 1 or total_items == 21 %}
                        товар
                    {% elif total_items >= 2 and total_items <= 4 or total_items >= 22 and total_items <= 24%}
                        товара
                    {% else %}
                        товаров
                    {% endif %}
                    {{ cart.get_total_price }} р.
                </a>
            {% else %}
                Ваша корзина пуста.
            {% endif %}
        {% endwith %}
    </div>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>